<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com/3.3.5"></script>
    <script src="https://kit.fontawesome.com/21eda41e88.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"
        integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
        crossorigin="anonymous"></script>
    
</head>

<body class="max-w-lg mx-auto bg-gray-200">
    <div class="flex justify-center items-center">
        <h1 class="my-8 text-4xl">Todo List</h1>
    </div>
    <form hx-on::after-request="this.reset()" hx-post="/create" hx-target="#todos" hx-swap="innerHTML"
        class="w-full flex">
        <input class="input grow outline rounded px-2 py-1" type="text" name="todoStr" required />
        <Button type="submit" class="ml-2">
            <i class="fa-regular fa-square-plus fa-xl"></i>
        </Button>
    </form>
    <div id="todos" class="my-4">
        {{ block "todos" . }}
        {{ range . }}
        <div class="w-full rounded flex bg-white px-2 py-1 my-2">
            <p class="grow {{if .Done }} line-through {{end}}">
                {{.TodoStr}}
            </p>
            <button class="ml-2" hx-put="/todo/{{.Id}}" hx-target="#todos" hx-swap="innerHTML">
                {{ if .Done }} <i class="fa-regular fa-square-minus text-gray-400"></i>
                {{ else }} <i class="fa-regular fa-square-check text-green-400"></i> {{end}}
            </button>
            <button class="ml-2" hx-delete="/todo/{{.Id}}" hx-target="#todos" hx-swap="innerHTML">
                <i class="fa-regular fa-trash-can text-red-400"></i>
            </button>
        </div>
        {{ end }}
        {{ end }}
    </div>
</body>

</html>